@font-face {
    font-family: 'golosregular';
    src: url('../fonts/golos/golos-regular/golos-regular.eot');
    src: url('../fonts/golos/golos-regular/golos-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/golos/golos-regular/golos-regular.woff') format('woff'),
         url('../fonts/golos/golos-regular/golos-regular.ttf') format('truetype'),
         url('../fonts/golos/golos-regular/golos-regular.svg#golosregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'golosbold';
    src: url('../fonts/golos/golos-bold/golos-bold.eot');
    src: url('../fonts/golos/golos-bold/golos-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/golos/golos-bold/golos-bold.woff') format('woff'),
         url('../fonts/golos/golos-bold/golos-bold.ttf') format('truetype'),
         url('../fonts/golos/golos-bold/golos-bold.svg#golosbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "components/body";


@import "components/workarea";

@import "components/header";


.layout{
  	flex: 1 0 auto;
}

.layout--grey{
	background: #E5E5E5;
	&+.page-footer{
		&:after {
		    border-top: 75px solid #E5E5E5;
		}
	}
}
.layout--aside{
	.breadcrumbs{

	}
	.breadcrumbs__wrap{
		padding-left: 323px;
		&:before{
			content: "";
			display: block;
			width: 100%;
			    height: calc(100% + 5px);
			position: absolute;
			right: calc(100% - 258px);
			top: 0;
			background: #E5E5E5;
		}
	}

	.content{
		padding: 42px 20px 40px 80px;
		&:after{
			content: "";
			display: block;
			width: 200%;
			height: 100%;
			position: absolute;
			left: 100%;
			top: 0;
			background: #fff;
		}
	}
	// .page-wrap{
	// 	flex-direction: row;
	// 	width: auto;
	// }
}
.btn{
	display: inline-block;
    color: #fff;
    background: #2C4295;
    border-radius: 4px;
    padding: 9px 16px;
    font-size: 16px;
    transition:all 0.3s ease;
	&:hover{
		background: $hover-color;

	}
}

// .wrapper{
// 	display: table-row;
// 	height: 100%;
// }
.container-fluid{
	max-width: 1315px;
	// padding: 0;
	position: relative;
	width: 100%;
	.container-fluid{
		padding: 0;
	}
}


.page-content{
	padding-bottom: 35px;
}



.page-wrap{
	display: flex;
	// flex-direction: column; 
	// width: 100%;
	position: relative;
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 100%;
		top: 0;
		background: #fff;
	}
}
.page-aside{
	padding-top: 57px;
	width: 243px;
	min-width: 243px;
	padding-right: 44px;
}
.page-aside__title{
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 25px;
}
.page-aside__item{
	margin-bottom: 18px;
	font-size: 14px;
	line-height: 1.2;
	&:last-child{
		margin-bottom: 0;
	}
}

.page-aside__link{
	color: $alt-color;
	transition:color 0.3s ease;
	&:hover{
		color: #0B4DCE;
	}
}

.content{
	background: #fff;
	flex:1;
	overflow: hidden;
	padding: 42px 125px 40px 110px;
	position: relative;
}
.back-wrap{
	    margin-bottom: 16px;
}
.back-link{
	color: $alt-color;
	font-size: 12px;
	line-height: 14px;
	    display: flex;
    align-items: center;
	&:hover{
		color: $hover-color;
	}
	&:before{
		content:"";
		display: inline-block;
		width: 34px;
		height: 13px;
		background: url(../img/svg/back.svg) no-repeat;
		margin-right: 9px;
	}
}
.page-title{
	margin-bottom: 47px;
}

.breadcrumbs{
	border-bottom: 2px solid #F0F2F5;
	
	background: #fff;
}
.breadcrumbs__wrap{
	display: flex;
	flex-wrap:wrap;
	    padding: 11px 0 11px 115px;
}
.breadcrumbs__item{
	font-size: 12px;
	line-height: 14px;
}
a.breadcrumbs__item{
	color: $alt-color;
	transition:color 0.3s ease;
	&:hover{
		color: #0B4DCE;
	}
	&:after{
	    content: "";
	    display: inline-block;
	    vertical-align: middle;
		margin-right: 9px;
		margin-left: 10px;
	    width: 13px;
	    height: 13px;
	    background: url(../img/svg/b-arr.svg) no-repeat;
	}
	&.breadcrumbs__item--compressed{
		color: #D5D8DB;
	}
}
span.breadcrumbs__item{
	color: #D5D8DB;
}

.indent{
	padding-left: 109px;
    padding-right: 58px;
    position: relative;
}
.page-date{
	display: inline-block;
    position: absolute;
    left: 0;
    top: -7px;
    background: #2C4295;
    border-radius: 4px;
    height: 55px;
    width: 63px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    padding: 13px 3px;
	span{
		font-size: 18px;
		font-family: 'golosbold';
		display: block;
		    margin-bottom: 3px;
	}
}


.page-img{
	    margin-left: -47px;
    margin-right: -60px;
	
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		border-top: 75px solid #fff;
		border-right: 75px solid transparent;
	}
	img{
		display: block;
		max-width: 100%;
		box-shadow: 0 20px 17px -13px rgba(189, 197, 209, 0.75);
	}
}
.page-caption{
	font-size: 12px;
	line-height: 1.2;
	padding: 16px 0 0 0;
	margin-bottom: 30px;
}

.table-wrap{
	overflow-x: auto;
    width: 100%;
        margin: 0px 0 30px;
    table{
    	margin-bottom: 0;
    }
    &+.page-caption{
    	margin-top: -30px;
    }
}

.table-wrap::-webkit-scrollbar {
    height: 8px;
}
 
.table-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
.table-wrap::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #2C4295;
}

.table-caption{
	font-size: 24px;
	margin-bottom: 20px;
}


.play-btn{
	display: inline-block;
	width: 612px;
	height: 409px;
	background: url(../img/svg/play.svg) no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.order{
	background: linear-gradient(180deg, #0047B0 0%, #6CC8E8 100%);
	color: #fff;
	margin: 0 -15px 24px;
    padding: 40px 80px;
    h2{
    	text-transform: uppercase;
	    font-size: 40px;
	    margin-bottom: 12px;
    }
    p{
    	opacity: 0.5;
    	margin-bottom: 41px;
    }
    input[type="submit"]{
    	display: inline-block;
    	background: #0B275C;
		border-radius: 4px;
		border: 0;
		padding: 17px 25px;
		box-shadow: 0px 16px 48px #244EA2;
		transition: background 0.3s ease;
		font-size: 24px;
		&:hover{
			background: #0B4DCE;
		}
    }
    input[type="text"],
    input[type="tel"]{
		width: 100%;
	    border: 2px solid rgba(255, 255, 255, 0.2);
	    border-radius: 4px;
	    padding: 9px 10px 9px 103px;
	    background: transparent;
	    color: #fff;
	    font-size: 32px; 
    }
    input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked{
		position: absolute;
		left: -9999px;
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label{
		position: relative;
		cursor: pointer;
		padding-left: 32px;
		display: inline-block;
		line-height: 24px;
	}

	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before{
		content: '';
		position: absolute;
		left: 0px;
		top: -1px;
		height: 24px;
		width: 24px;
		border-radius: 4px;
		cursor: pointer;
		z-index: 5;
		border: 2px solid #2C4295;
	}
	input[type="checkbox"]:checked+ label:before{
		background: #2C4295;
		border: 2px solid #2C4295;
	}
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after {
		content: '';
		background: url('../img/svg/check.svg') center no-repeat;
		width: 17px;
		height: 14px;
		display: inline-block;
		position: absolute;
		top: 4px;
    	left: 5px;
		z-index: 10;
	}
	input[type="checkbox"]:not(:checked) + label:after {
	 	opacity: 0;
	}
	input[type="checkbox"]:checked + label:after {
	    opacity: 1;
	}

	.checkbox-item{
		a{
			color: #fff;
			&:hover{
				color: $hover-color;
			}
		}
	}
	.order-pre{
		color: #fff;
	}
}
.checkbox-item{
	font-size: 12px;
	line-height: 1.2;
	color: #343532;
}

.order-wrap{
	display: flex;
	margin-bottom: 25px;
}

.order__title{
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 16px;
}

.order-wrap__txt{
	position: relative;
	padding-right: 20px;
	flex:1;
}
.order-pre{
	position: absolute;
	    left: 25px;
    top: 11px;
	font-size: 32px; 
	color: #000;
}


.page-question{
	margin: 0 -15px 30px;
	background: #F0F2F5;
	padding: 63px 80px 80px;
	h2{
		text-transform: uppercase;
	    font-size: 40px;
	    margin-bottom: 14px;
	    color: #343532;
	}
	p{
		margin-bottom: 30px;
	}
	input[type="submit"]{
    	display: inline-block;
    	background: linear-gradient(270deg, #2C4295 0%, #0083CA 100%);
		border-radius: 4px;
		border: 0;
		    padding: 12px 24px;
		box-shadow: 0px 16px 48px #244EA2;
		transition: none;
		color: #fff;
		&:hover{
			background: #0B4DCE;
		}
    }
    .checkbox-item{
    	margin-bottom: 40px;
    }
}
.input-wrap{
	margin-bottom: 24px;
	position: relative;
}
.input-wrap--necessary{
	&:before{
		content: "*";
		display: inline-block;
		font-size: 24px;
		color: #fff;
		position: absolute;
		    left: -19px;
    	bottom: 5px;
	}
}
.input-wrap--phone{
	//max-width: 485px;
	input[type="tel"]{
		width: 75%;
	}
}

.input-label{
	margin-bottom: 9px;
}

.input-wrap__txt{
	position: relative;
	.order-pre{
		font-size: 24px;
		    top: 10px;
	}
	input[type="text"],
	input[type="tel"]{
		padding-left: 85px;
	}
}

.accordeon{
	margin: 0 -15px 30px; 
}


.accordeon__info{
	display: none;
	padding: 8px 0 42px;
	font-size: 16px;
	line-height: 1.2;
}

.accordeon__item{
	border-top: 2px solid #F0F2F5;
	padding-left: 50px;
	position: relative;
	&:last-child{
		border-bottom: 2px solid #F0F2F5;
	}
	&:before{
		content: "";
		display: inline-block;
		width: 26px;
		height: 26px;
		position: absolute;
		    left: -1px;
    top: 22px;
		background: url(../img/svg/a-plus.svg) center no-repeat;		
	}
	&.active{
		&:before{
			background: url(../img/svg/a-minus.svg) center no-repeat;
		}
	}
}

.accordeon__link{
	font-size: 24px;
	color: #000;
	display: block;
	padding: 18px 78px 14px 0;
}

.dnone{
	display: none;
}
.page-links{
	margin-bottom: 40px;
}
.page-links-year{
	display: flex;
	flex-wrap:wrap;
	min-width: 100%;
	border-bottom: 2px solid #F0F2F5;
	margin-bottom: 16px;
}
.page-links-year__link{
	color: #343532;
    font-size: 16px;
    line-height: 1.2;
    padding: 8px 16px;
    border-bottom: 2px solid #F0F2F5;
    margin-bottom: -2px;
    transition:all 0.3s ease;
	&.active{
		background: #F0F2F5;
		font-family: 'golosbold';
		border-bottom: 2px solid #0083CA;
		pointer-events:none;
	}
	&:hover{
		background: #F0F2F5;
		// font-family: 'golosbold';
		border-bottom: 2px solid #0083CA;
	}
}
.page-links-month,
.page-links-month-noslide{
	// display: flex;
	// flex-wrap:wrap;
	border: 2px solid #F0F2F5;
	//overflow: hidden;
	.slick-track{
		//min-width: 100%;
	}
	.slick-arrow{
		position: absolute;
		top: 50%;
		transform:translateY(-50%);
		z-index: 2;
		background: #FFFFFF;
		border: 2px solid #F0F2F5;
		width: 38px;
		height: 38px;
		display: inline-block;
		padding: 0;
		border: 2px solid #F0F2F5;
		text-indent: -9999em;
		&.slick-disabled{
			display: none!important;
		}
	}
	.slick-prev{
		left: -2px;
		background: #FFFFFF url(../img/svg/prev.svg) center no-repeat;
		&:before{
			content: "";
			display: inline-block;
			width: 116px;
			height: 100%;
			left: calc(100% + 2px);
			top: 0;
			text-indent: -999em;
			background: linear-gradient(-270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
			position: absolute;
		}
	}
	.slick-next{
		right: -2px;
		background: #FFFFFF url(../img/svg/next.svg) center no-repeat;
		&:before{
			content: "";
			display: inline-block;
			width: 116px;
			height: 100%;
			right: calc(100% + 2px);
			top: 0;
			text-indent: -999em;
			background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
			position: absolute;
		}
	}
}
.page-links-month__link{
	color: #2C4295;
	font-size: 12px;
	line-height: 1.2;
	    padding: 8px 12px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transition:all 0.3s ease;
	// white-space: nowrap;
	text-align: center;
	&:first-child{
		border-left: 2px solid #fff;
	}
	&:last-child{
		border-right: 2px solid #fff;
	}
	&.active{
		background: #F0F2F5;
		color: #343532;
		pointer-events:none;
	}
	&:hover{
		background: #F0F2F5;
		color: #343532;
	}
}

.page-links-month-noslide{
    display: flex;
    flex-wrap: wrap;
}


.paging__wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	    flex-wrap: wrap;
}

.paging__item{
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: -2px;
	border-bottom: 2px solid transparent;
	padding: 5px 16px;
	color: #343532;
	transition: all 0.3s ease;
	&:hover{
		color: #0B4DCE;
		border-bottom: 2px solid #0083CA;
	}
	&.active{
		border-bottom: 2px solid #0083CA;
		background: #F0F2F5;
		pointer-events: none;
	}
}


.paging__inner{
	display: inline-flex;
	border-bottom: 2px solid #F0F2F5;
}
.paging__next{
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #2C4295;
    color: #2C4295;
    border-radius: 3px;
    padding: 13px 25px;
    transition: all 0.3s ease;
    &:hover{
    	background: #0B4DCE;
    	color: #fff;
    }
    &:active{
    	background:  #2C4295;
    }
}
.page-links-month-wrap{
	width: 100%
}

.page-slider{
	.slick-arrow{
		display: inline-block;
		width: 59px;
		height: 99px;
		background: #FFFFFF;
		/* Light blue grey */

		border: 4px solid #F0F2F5;
		padding: 0;
		border-radius: 4px;
		text-indent: -9999em;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		transition: opacity 0.3s ease;
		&:hover{
			opacity: 0.7;
		}
	}
	.slick-prev{
		left: -77px;
		background: #FFFFFF url(../img/svg/prev.svg) center no-repeat;
	}
	.slick-next{
		right: -77px;
		background: #FFFFFF url(../img/svg/next.svg) center no-repeat;
	}
}

.ui-slider{
	z-index: 5;
}
#slider-term-input{
	pointer-events: none;
}


.popup{
	max-width: 630px;
	min-width: 600px;
    // line-height: 1.3;
    overflow: hidden;
    h1{
		font-family: 'golosbold';
		font-size: 40px;
		margin: 0;
		margin-bottom: 18px;
		font-weight: normal;
		line-height: 1.3;
	}
	h2{
		font-family: 'golosbold';
		font-size: 32px;
		margin: 0;
		margin-bottom: 18px;
		font-weight: normal;
		line-height: 1.3;
	}
	h3{
		font-family: 'golosregular';
		font-size: 30px;
	    margin: 0;
	    margin-bottom: 14px;
	    font-weight: normal;
	    line-height: 1.3;
	}
	h4{
		font-family: 'golosbold';
		font-size: 24px;
	    margin: 0;
	    margin-bottom: 14px;
	    font-weight: normal;
	    line-height: 1.3;
	}
	h5{
		font-family: 'golosregular';
		font-size: 24px;
	    margin: 0;
	    margin-bottom: 14px;
	    font-weight: normal;
	    line-height: 1.3;
	}
	h6{
		font-family: 'golosbold';
		font-size: 18px;
	    margin: 0;
	   margin-bottom: 14px;
	    font-weight: normal;
	    line-height: 1.3;
	}
	p{
		margin: 0;
		margin-bottom: 15px;
	}
	video{
		max-width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}

	// input[type="text"],
	// input[type="email"],
	// input[type="password"],
	// input[type="tel"]{
	// 	width: 100%;
	// 	display: inline-block;
	// 	vertical-align: middle;
	// 	color: #000;
	// 	background: #FFFFFF;
	// 	border: 2px solid #0083CA;
	// 	border-radius: 4px;
	// 	padding:8px 15px;
	// 	font-size: 18px;
	// }
	// textarea{
	// 	width: 100%;
	// 	display: block;
	// 	vertical-align: middle;
	// 	color: #000;
	// 	background: #FFFFFF;
	// 	border: 2px solid #0083CA;
	// 	border-radius: 4px;
	// 	padding: 8px 15px;
	// 	resize:vertical;
	// 	min-height: 120px;
	// 	font-size: 18px;
	// }

	ol{
		margin: 0;
		margin-bottom: 30px;
		padding: 0;
		counter-reset: myCounter;
		li{
			list-style-type: none;
			padding-left: 30px;
			position: relative;
			margin-bottom: 17px;
			&:last-child{
				margin-bottom: 0;
			}
			&:before{
				counter-increment: myCounter;
				content:counter(myCounter);
				position: absolute;
				left: 0;
				top: 0;
    			color: #2C4295;
    			z-index: 2;
			}
			&:after{
				content: "";
				position: absolute;
				    left: 6px;
    			top: 14px;
				width: 10px;
				height: 10px;
				background: #F0F2F5;
				display: inline-block;
				z-index: 1;
			}
		}


		ol{ 
			margin: 0;
			margin-bottom: 30px;
			padding: 13px 0 0;
			counter-reset: myCounter2;
			li{
				padding-left: 32px;
				&:before{
					left: -16px;
					counter-increment: myCounter2;
		 			content: counter(myCounter) "." counter(myCounter2);
				}
				&:after{

				}
			}
		}
	}
	ul{
		margin: 0;
		margin-bottom: 30px;
		padding: 0;
		li{
			list-style-type: none;
			padding-left:30px;
			position: relative;
			    margin-bottom: 16px;
			&:before{
				content: "";
			    position: absolute;
			    left: 0px;
			    top: 13px;
			    background: #2C4295;
			    width: 13px;
			    height: 3px;
			    z-index: 2;
			}
			&:after{
				content: "";
				position: absolute;
				    left: 6px;
    			top: 14px;
				width: 10px;
				height: 10px;
				background: #F0F2F5;
				display: inline-block;
				z-index: 1;
			}
		}
		ul{
			    padding-top: 13px;
		}
	}
	[type="submit"]{
		display: inline-block;
		border: 0;
	}
	// .checkbox-item {
	//     margin-bottom: 25px;
	// }
	strong{
		font-weight: normal;
		font-family: 'golosbold';
	}

	input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked{
		position: absolute;
		left: -9999px;
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label{
		position: relative;
		cursor: pointer;
		padding-left: 32px;
		display: inline-block;
		line-height: 24px;
	}

	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before{
		content: '';
		position: absolute;
		left: 0px;
		top: -1px;
		height: 24px;
		width: 24px;
		border-radius: 4px;
		cursor: pointer;
		z-index: 5;
		border: 2px solid #2C4295;
	}
	input[type="checkbox"]:checked+ label:before{
		background: #2C4295;
		border: 2px solid #2C4295;
	}
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after {
		content: '';
		background: url('../img/svg/check.svg') center no-repeat;
		width: 17px;
		height: 14px;
		display: inline-block;
		position: absolute;
		top: 4px;
    	left: 5px;
		z-index: 10;
	}
	input[type="checkbox"]:not(:checked) + label:after {
	 	opacity: 0;
	}
	input[type="checkbox"]:checked + label:after {
	    opacity: 1;
	}
	.input-wrap--necessary:before {
	    bottom: auto;
	    top: 41px;
	}

	.page-question{
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="tel"]{
			width: 100%;
		    display: inline-block;
		    vertical-align: middle;
		    color: #000;
		    background: #FFFFFF;
		    border: 2px solid #fff;
		    border-radius: 4px;
		    padding: 8px 24px;
		    font-size: 24px;
		}
		textarea{
			width: 100%;
		    display: block;
		    vertical-align: middle;
		    color: #000;
		    background: #FFFFFF;
		    border: 2px solid #fff;
		    border-radius: 4px;
		    padding: 8px 24px;
		    resize: vertical;
		    min-height: 120px;
		    font-size: 24px;
		}
		.input-wrap__txt input[type="text"], .input-wrap__txt input[type="tel"] {
		    padding-left: 85px;
		}
		.radio-item input[type="radio"]:not(:checked) + label:before,
		.radio-item input[type="radio"]:checked + label:before{
			border: 2px solid #2C4295;
		}
		.radio-item input[type="radio"]:not(:checked) + label:after,
		.radio-item input[type="radio"]:checked + label:after{
			background: #2C4295;
		}
	}
}

.fancybox-content{
	// padding: 30px
	padding: 0;
	background: transparent;
}
.fancybox-container {
    z-index: 99;
}
.fancybox-slide--html .fancybox-close-small{
	padding: 0;
	svg{
		path{
			fill: #fff;
		}
	}
}

.service-tabs{
	.tabs {
		border:0;
	    border-bottom: 2px solid #F0F2F5;
	    border-radius: 0;
	    padding: 0;
	}
	.tabs li{
	    padding: 4px 15px!important;
	    margin-bottom: -2px!important;
	    &:hover{
	    	color: #0B4DCE;
	    }
	}
	.tabs li.current {
	    background: #F0F2F5;
	    color: #343532;
	    border-bottom: 2px solid #0083CA;
	}
	.tab-content{
		padding-top: 30px;
	}
}


.search__wrap{
	position: relative;
    padding-right: 140px;
    input[type="text"]{
    	border: 2px solid #2C4295;
    }
    .btn{
		position: absolute;
	    right: 0;
	    top: 0;
	    font-size: 24px;
	    padding: 10px 16px;
    }
}

.search__link{
	font-family: 'golosregular';
    font-size: 30px;
    margin: 0;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.3;
    display: block;
    color: #2C4295;
    &:hover{
		    color: #0B4DCE;
    }
}

.bid--salary .checkbox-item + .afbf_item_pole{
	margin-top: 30px;
}

.btn{
	&.btn-themes{
		font-size: 18px;
		line-height: 22px;
		color: #343532;
		background: #FFFFFF;
		border: 2px solid #FFFFFF;
		-webkit-box-shadow: 0px 4px 12px rgba(36, 78, 162, 0.6), 0px 2px 4px rgba(25, 45, 120, 0.4);
		box-shadow: 0px 4px 12px rgba(36, 78, 162, 0.6), 0px 2px 4px rgba(25, 45, 120, 0.4);
		border-radius: 4px;
		padding: 13px 23px;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		&:hover{
			 &:hover{
				background: #0B4DCE;
				border: 2px solid #0B4DCE;
				color: #fff;
		    }
		    &:active{
				background: #2C4295;
				border: 2px solid #2C4295;
				color: #fff;
		    }
		}
	}
	&.btn-border-white {
		font-size: 18px;
		line-height: 22px;
		font-size: 18px;
		line-height: 22px;
		color: #343532;
		-webkit-box-shadow: 0px 4px 12px rgba(36, 78, 162, 0.6), 0px 2px 4px rgba(25, 45, 120, 0.4);
		box-shadow: 0px 4px 12px rgba(36, 78, 162, 0.6), 0px 2px 4px rgba(25, 45, 120, 0.4);
		border-radius: 4px;
		padding: 13px 23px;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	    background: transparent;
	    border: 2px solid #fff;
	    color: #fff;
	    &:hover{
			background: #0B4DCE;
			border: 2px solid #0B4DCE;
			color: #fff;
	    }
	    &:active{
			background: #2C4295;
			border: 2px solid #2C4295;
			color: #fff;
	    }
	}
}


.radio-item{
	margin-bottom: 20px;
	input[type="radio"]:not(:checked),
	input[type="radio"]:checked{
		position: absolute;
		left: -9999px;
	}
	input[type="radio"]:not(:checked) + label,
	input[type="radio"]:checked + label{
		position: relative;
		cursor: pointer;
		padding-left: 32px;
		display: inline-block;
		line-height: 24px;
	}

	input[type="radio"]:not(:checked) + label:before,
	input[type="radio"]:checked + label:before{
		content: '';
		position: absolute;
		left: 0px;
		top: -1px;
		height: 24px;
		width: 24px;
		border-radius: 50%;
		cursor: pointer;
		z-index: 5;
		border: 2px solid #2C4295;
	}
	input[type="radio"]:checked+ label:before{
		//background: #2C4295;
		border: 2px solid #2C4295;
	}
	input[type="radio"]:not(:checked) + label:after,
	input[type="radio"]:checked + label:after {
		content: '';
		background: #2C4295;
		width: 12px;
		height: 12px;
		display: inline-block;
		position: absolute;
		top: 5px;
    	left: 6px;
		z-index: 10;
		border-radius: 50%;
	}
	input[type="radio"]:not(:checked) + label:after {
	 	opacity: 0;
	}
	input[type="radio"]:checked + label:after {
	    opacity: 1;
	}
}


.page-question{
	.radio-item input[type="radio"]:not(:checked) + label:before,
	.radio-item input[type="radio"]:checked + label:before{
		border: 2px solid #0083CA;
	}
	.radio-item input[type="radio"]:not(:checked) + label:after,
	.radio-item input[type="radio"]:checked + label:after{
		background: #0083CA;
	}
}


.headline-fixed-buttons{
	position: fixed;
    display: flex;
    flex-direction: column;
    /* top: 55%; */
    bottom: 30px;
    right: calc(50% - 710px);
    z-index: 99;
}

.btn-download{
    background: #2C4295;
    border-radius: 65px;
    padding: 22px 20px;
    width: 60px;
    height: 60px;
    -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.05s,top 0.75s cubic-bezier(0.22, 0.61, 0.36, 1) 0s,opacity 0.55s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
    -o-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.05s,top 0.75s cubic-bezier(0.22, 0.61, 0.36, 1) 0s,opacity 0.55s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.05s,top 0.75s cubic-bezier(0.22, 0.61, 0.36, 1) 0s,opacity 0.55s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
	&:hover{
		background: #0B4DCE;
		width: 195px!important;
		span{
			opacity: 1;
		    -webkit-transition: opacity .45s ease-in 0s;
		    -o-transition: opacity .45s ease-in 0s;
		    transition: opacity .45s ease-in 0s;
		}
	}
	i{
		display: inline-block;
		width: 21px;
		height: 21px;
		position: absolute;
		    top: 50%;
    margin-top: -13px;
		right: 20px;
		margin-top: -11px;
		background: url(../img/svg/download.svg) no-repeat;
		background-size: contain!important;
	}
	span{
		font-size: 15px;
		font-weight: 500;
		color: #fff;
		position: absolute;
		right: 65px;
		top: 20px;
		opacity: 0;
		white-space: nowrap;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
		-webkit-backface-visibility: hidden;
	}
}


.layout--noindent{
	.page-tabs__wrap{
		padding-left: 0!important;
	}
	.page-tabs{
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.exchange-search .container-fluid,
	.map-wrap .container-fluid{
		padding-left: 0!important;
		padding-right: 0!important;
	}
}

@import "components/footer";

@import "pages/index";
@import "pages/news";
@import "pages/deposit";


@import "pages/card";
@import "pages/map";
@import "pages/statements";
@import "pages/exchange";
@import "pages/package";
@import "pages/salary";

@import "components/media";





