
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {
	
}


//MEDIA
@media screen and (max-width: 1480px){
	.index-info__slider{
		padding: 0 80px;
		.slick-next {
		    right: 0;
		}
		.slick-prev {
		    left: 0;
		}
	}
}

@media screen and (max-width: 1450px){
	.headline-fixed-buttons{
		right: 15px;
	}
}

@media screen and (max-width: 1320px){
	.money {
	    padding: 40px 0;
	}
	.index-offers__info {
	    padding: 20px 20px 90px 20px;
	}
	.index-offers__links {
	    bottom: 27px;
	    padding: 0 20px;
	}
	.index-offers__title {
	    font-size: 24px;
	    margin-bottom: 15px;
	}
	.index-offers-more__txt {
	    font-size: 20px;
	    line-height: 22px;
	}
	.index-offers__links .btn {
	    padding: 6px 8px;
	    font-size: 14px;
	}
	.index-offers__links .btn-more {
	    padding: 4px 8px;
	    font-size: 14px;
	}
	.top-slider__inner {
	    padding: 77px 0 288px 20px;
	}
	.layout--index .container-fluid {
	    padding: 0 15px;
	}
	.layout--index{
		.page-content{
			>.container-fluid{
				padding: 0;
			}
		}
	}
	.package__top,
	.package__bottom{
	    padding: 15px;
	}
	.package__price {
	    font-size: 40px;
	    line-height: 20px;
	}
	.page-tabs{
		padding-left: 15px;
		padding-right: 15px; 
	}
}

@media screen and (max-width: 1280px){
	.index-news__item {
	    padding: 0 40px 20px;
	    &:last-child{
			padding-right: 0;
		}
		&:first-child{
			padding-left: 0;
		}
	}
	.top-slider-list__item {
	    margin-right: 20px;
	    font-size: 20px;
	    line-height: 22px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
}

@media screen and (max-width: 1200px){
	.breadcrumbs__wrap,
	.content{
		padding-left: 0;
		padding-right: 0;
	}
	.layout--aside .content {
	    padding: 42px 20px 40px 20px;
	}
	.layout--aside .breadcrumbs__wrap {
	    padding-left: 265px;
	}
	.index-info__col--lg .index-info__img:before {
	    width: 100%;
	}
	.index-info__col--lg .index-info__in {
	    padding: 165px 40px 50px 50px;
	}
	.courses-table td {
	    font-size: 20px;
	    line-height: 22px;
	    padding: 8px 2px;
	}
	.tabs-top{
		font-size: 18px;
	}
	.coverter__item input[type="text"]{
		font-size: 18px;
	}
	.coverter__item select{
		font-size: 18px;
	}
	.coverter__item .select-wrap {
	    width: 80px;
	    right: 18px;
	    top: 4px;
	}
	.select__item--term {
	    padding-right: 0;
	}
	.layout--map{
		.page-title{
			h1{
				padding-left: 0px;
			}
		}
	}
	.page-tabs__in{
		padding-left: 0;
	}
	.office-list .container-fluid{
		padding-left: 15px;
	}
	.page-tabs__wrap{
		padding-left: 0;
	}
	.other .indent {
	    padding-left: 119px;
	}
	.deposit-top__info {
	    padding: 0;
	}
	.package__list {
	    margin-right: -140px;
	    margin-left: 0;
	}
	.package__price span {
	    font-size: 18px;
	}
	.package__bottom {
	    width: calc(100% - 8px);
	}
	.package__pos {
	    font-size: 18px;
	    line-height: 22px;
	}
	.another__inner {
	    padding: 32px 32px 95px 32px;
	}
	.package-slider-wrap{
		.container-fluid{
			padding-left: 15px;
		}
	}
	.top-card .container-fluid {
	    padding-right: 15px;
	}
	.top-card__wrap{
		padding-left: 0;
		padding-bottom: 40px;
	}
	.top-card__img {
	    width: 350px;
	    min-width: 350px;
	}
	.index-offers-card__img {
	    margin-top: -10px;
	}
	.default-slider .slick-next {
	    right: 0;
	}
	.default-slider .slick-prev {
	    left: 0;
	}
	.conditions__info,
	.conditions__list{
		padding: 35px 40px;
	}
	.conditions__info {
	    width: 50%;
	    min-width: 50%;
	}
	.index-offers-more__txt {
	    font-size: 18px;
	}
}

@media screen and (max-width: 1100px){
	.page-header__link,
	.page-header__nav,
	.page-header-more,
	.page-header-search{
	    margin-right: 15px;
	}
	.page-header-search__link.active:before {
	    width: 50px;
	    left: -13px;
	}
	.layout--aside{
		.indent {
		    padding-left: 15px;
		    padding-right: 0;
		}
	}
	.app__txt{
		font-size: 14px;
		    line-height: 18px;
	}
	.app__info{
		width: 100%;
	}
	.app__link{
		    max-width: calc(50% - 20px);
		// padding-right: 10px;
		// margin-right: 0;
		// height: 40px;
	}
	.index-links {
	    padding: 40px 0 80px;
	}
	.index-links__title {
	    font-size: 24px;
	    line-height: 26px;
	    margin-bottom: 20px;
	}
	.money__item {
	    padding-right: 30px;
	}
	.money__wrap{
		margin-right: -30px;
	}
	.income__txt {
	    font-size: 18px;
	    line-height: 20px;
	}
	.income input[type="text"] {
		width: 145px;
		background: rgba(255, 255, 255, 0.2);
		border: 0;
		color: #fff;
		font-size: 20px;
		padding: 7px 7px 7px 15px;
	}
	.money-term__btn {
	    font-size: 20px;
	    line-height: 22px;
	    padding: 11px 8px;
	}
	.money__title {
	    font-size: 18px;
	    line-height: 20px;
	}
	.slider-count input[type="text"]{
		font-size: 20px;
	}
	.money-term__item {
	    font-size: 20px;
	    height: 42px;
	}
	.money-term {
	    margin-bottom: 50px;
	}
	.income {
	    padding-top: 22px;
	}
	.money__top .tabs li {
	    font-size: 20px;
	    line-height: 22px;
	}
	.index-offers__top{
		margin-bottom: 20px;
	}
	.index-offers__link {
	    font-size: 24px;
	    line-height: 28px;
	}
	.index-offers__link:after {
	    font-size: 18px;
	    line-height: 22px;
	    margin: 0px 8px;
	    top: -4px;
	}
	.main-slider-preview {
	    padding: 60px 30px 40px 50px;
	}
	.top-slider-preview {
	    width: 240px;
	}
	.top-slider-controls {
	    right: 50px;
	    width: 240px;
	}
	.top-slider-line{
		width: 240px;
		left: -50px;
	}
	.size-payment-income {
	    padding: 120px 20px 40px 20px;
	    width: 300px;
	    min-width: 300px;
	}
	.size-payment__in {
	    padding: 30px 20px 30px 30px;
	}
	.bid {
	    padding: 30px;
	}
	.money__item .slider-count__add {
	    font-size: 20px;
	}
	.money__item .slider-count input[type="text"]{
		padding-right: 54px;
	}
	.courses-table .up:before {
	    left: -12px;
	    top: 11px;
	}
	.courses-table .down:before {
	    left: -12px;
	    top: 8px;
	}
	.conditions-wrap .index-offers-more__item {
	    width: 100%;
	    margin-bottom: 20px;
	}
	.vote-view,
	.vote-question{
	    padding: 20px 25px 50px;
	}
}

@media screen and (max-width: 1024px){
	.content{
		padding-right: 0;
	}
	.bottom {
	    font-size: 14px;
	}
	.top-area,
	.top-offices,
	.top-tel,
	.top-lang{
		margin-right: 20px;
	}
	.top__link {
	    padding: 12px 5px;
	}
	.page-header{
		.btn,
		.page-header__link,
		.page-header-more__link,
		.page-header-more__item{
			font-size: 14px;
		}
	}
	.index-info__title {
	    font-size: 20px;
	    line-height: 24px;
	}
	.index-info__col--lg .index-info__title {
	    font-size: 20px;
	    line-height: 24px;
	}
	.index-info__in{
		padding: 20px;
	}
	.index-info__col--lg .index-info__in {
	    padding: 170px 20px 30px 20px;
	}
	.index-info-add__item,
	.index-info__col--lg .index-info-add__item{
	    margin-right: 20px;
	    font-size: 18px;
	    line-height: 22px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.index-info__col--lg .index-info__title:after{
		width: 75px;
	}
	.index-info__col {
	    width: 50%;
	}
	.app__img {
	    width: 40%;
	    left: 20px;
	}
	.app__wrap{
		padding-left: 45%;
	}
	.app{
		margin-top: 0;
	}
	.index-links__item {
	    width: 50%;
	    padding-right: 16px;
	    margin-bottom: 16px;
	}
	.courses__item {
	    padding: 10px;
	    width: 100%;
	}
	.courses__wrap{
		flex-wrap:wrap;
	}
	.money__top {
	    padding-left: 0;
	}
	.index-offers__title {
	    font-size: 20px;
	    margin-bottom: 10px;
	}
	.index-offers-more__txt {
	    font-size: 16px;
	    line-height: 18px;
	}
	.index-offers-more__item {
	    margin-bottom: 10px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.index-offers__info {
	    padding: 20px 20px 70px 20px;
	}
	.index-offers__links {
	    bottom: 20px;
	}
	.top-slider-list{
		flex-wrap:wrap;
	}
	.top-slider-list__item{
		margin-bottom: 20px;
	}

	.top-slider__inner{
		padding: 40px 280px 150px 20px;
	}
	.news__title {
	    font-size: 28px;
	}
	.select__col:first-child {
	    padding-right: 20px;
	}
	.select{
		padding: 20px;
	}
	.select input[type="submit"] {
	    padding: 6px 13px;
	}
	.deposit--short .deposit__info {
	    padding: 20px 20px 240px 20px;
	}
	.deposit--short .index-offers__links {
	    padding: 0 20px;
	    bottom: 215px;
	}
	.deposit--short .index-offers__links .btn {
	    margin-right: 5px;
	}
	.deposit--short {
	    margin-right: 0;
	}
	.deposit--short .deposit__item {
	    width: 100%;
	    margin-right: 0;
	        background: #F0F2F5;
	}
	.deposit--short .index-offers__links {
	    padding: 0;
	    position: static;
	}
	.deposit--short .deposit__info {
	    padding: 20px;
	   //margin-bottom: 0;
	}
	.deposit--short .deposit__img {
	    clip-path: polygon(44px 0, 100% 0, 100% 100%, 0 100%, 0 44px);
	    height: 200px;
	}

	.issue__list{
		margin-right: -60px;
	}
	.issue__item {
	    padding-right: 60px;
	    &:after{
	    	right: 18px;
	    }
	}
	.card__img {
	    position: relative;
	    margin-right: 20px;
	    padding: 0 0 20px 20px;
	    margin-top: -30px;
	    width: 250px;
	    min-width: 250px;
	    max-width: 250px;
	}
	.card__info {
	    padding: 20px 20px 20px 0;
	}
	.card__title {
	    font-size: 28px;
	    line-height: 30px;
	    margin-bottom: 20px;
	}
	.card .index-offers-more {
	    margin-bottom: 20px;
	}
	.card .index-offers__links .btn {
	    padding: 9px 12px;
	    margin-right: 10px;
	    font-size: 16px;
	}
	.card .index-offers__links .btn-more {
	    padding: 7px 10px;
	    font-size: 16px;
	}
	.map-change-select {
	    margin-left: 15px;
	}
	.page-tabs__wrap {
	    flex-wrap: wrap;
	    justify-content: flex-start;
	}
	.page-tabs__in{
		width: 100%;
		margin-bottom: 20px;
	}
	.size-slider__count {
	    font-size: 46px;
	    line-height: 50px;
	    margin-bottom: 10px;
	}
	.bid-next__link {
	    margin-left: 15px;
	    font-size: 18px;
	    padding: 1px 3px;
	    padding: 10px;
	}
	.deposit-top-add__item {
	    margin-bottom: 10px;
	    font-size: 18px;
	}
	.deposit-top__main h2 {
    	font-size: 24px;
	    line-height: 1.2;
	    margin-bottom: 20px;
	}
	.deposit-top__info {
	    width: calc(50% + 115px);
	}
	.deposit-top:before{
		width: calc(50% + 115px);
	}
	.deposit-top-add {
	    width: 240px;
	    min-width: 240px;
	}
	.page-slider{
		padding: 0 40px;
	}
	.page-slider .slick-prev {
	    left: -30px;
	}
	.page-slider .slick-next {
	    right: -30px;
	}
	.package__list {
	    margin-right: -16px;
	}
	.package__item{
		width: 50%;
		margin-bottom: 16px;
	}
	.another__inner {
	    font-size: 18px;
	}
	.package--variants .package__item {
	    width: 50%;
	}
	.service__inner {
	    padding: 20px 15px 115px;
	}
	.service__title {
	    font-size: 20px;
	}
	.bid--salary .bid-form__list{
		margin-right: -20px;
	}
	.bid--salary .bid-form__item {
	    padding-right: 20px;
	}

	.page-tabs__toggle{
		min-width: 100%;
		margin-bottom: 20px;
	}
	.page-form {
	    padding: 25px 30px;
	}
	.page-form__call {
	    margin-right: 20px;
	}
	.page-anchors__link {
	    padding: 5px 10px;
	}
	.popup--lg {
	    width: 100%;
	}
	.popup-media__info{
		padding: 35px;
	}
	.vote__item h2 {
	    font-size: 30px;
	    text-transform: none;
	    margin-bottom: 20px;
	}
	.thank {
	    font-size: 24px;
	}
	.page-subscription__wrap {
	    padding: 25px 45px 30px;
	}
	.deposit__info {
	    padding: 35px 513px 45px 35px;
	}
	.deposit__item .index-offers-more__item{
		width: 50%;
	}
	.awards__item:nth-child(odd),
	.awards__item:nth-child(even){
		justify-content: flex-start;
		.awards__wrap {
		    padding-right: 0;
		    padding-left: 135px;
		        width: 100%;
		}
	}
	.awards__item:nth-child(odd) .awards__year {
	    right: auto;
	    left: 0;
	    padding-right: 0;
	    padding-left: 30px;
	    &:after{
	    	right: auto;
	    	left: -4px;
	    }
	}
	.awards__item:nth-child(odd) .awards__wrap:after {
	    left: auto;
	    right: calc(100% - 20px);
	}
	.awards__item:nth-child(even) .awards__wrap:after{
		right: calc(100% - 20px);
	}
	.awards__item:nth-child(even) .awards__year:after {
	    left: -4px;
	}
	.awards__wrap {
	    padding-bottom: 70px;
	}
	.awards__view {
	    padding: 28px 42px 28px 90px;
	}
}

@media screen and (max-width: 900px){
	.logo {
	    width: 150px;
	    height: 33px;
	    background-size: contain;
	}
	.page-header .btn,
	.page-header .page-header__link,
	.page-header .page-header-more__link,
	.page-header .page-header-more__item {
	    font-size: 12px;
	}
	.page-header .btn{
		padding: 6px 7px;
	}
	.page-header-search__link.active:before {
	    width: 42px;
	    left: -9px;
	}
	.page-header-search__wrap {
	    padding: 0 20px;
	}
	.layout--aside{
		.page-wrap{
			flex-wrap:wrap;
			overflow: hidden;
			display: block;
		}
		.indent{
			padding-left: 0;
		}
	}

	.page-aside{
		width: 100%;
		margin-bottom: 20px;
	}
	.layout--aside .breadcrumbs__wrap {
	    padding-left: 0;
	    &:before{
	    	display: none;
	    }
	}
	.index-offers__link {
	    font-size: 18px;
	    line-height: 20px;
	}
	.index-offers__link:after {
	    font-size: 14px;
	    line-height: 16px;
	    margin: 0px 3px;
	    top: -3px;
	}
	.select .checkbox-wrap{
		flex-wrap:wrap;
	}
	.select .checkbox-item {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 10px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.deposit__img {
	    width: 340px;
	    min-width: 340px;
	}
	.deposit__info{
		padding-right: 350px;
	}
	.deposit__title {
	    font-size: 24px;
	    line-height: 28px;
	    margin-bottom: 20px;
	}
	.deposit__txt {
	    font-size: 16px;
	    margin-bottom: 20px;
	}
	.top-card__img {
	    width: 260px;
	    min-width: 260px;
	    padding-right: 30px;
	}
	.top-card__info .index-offers__links .btn {
	    padding: 7px 9px;
	    margin-right: 10px;
	    font-size: 16px;
	    margin-bottom: 10px;
	}
	.top-card__info .index-offers__links .btn-more {
    	padding: 5px 10px;
	    font-size: 16px;
	    margin-bottom: 10px;
	}
	.page-anchors__link {
	    font-size: 16px;
	}
}

@media screen and (max-width: 800px){
	.office-item {
	    width: 100%;
	    padding-right: 0;
	}
	.office-wrap{
		margin-right: 0;
	}
	.service__list{
		margin-right: 0;
	}
	.service__item {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 16px;
	}
	.service{
		padding-top: 0;
	}
	.deposit-top__info {
	    width: calc(60% + 120px);
	}
	.deposit-top:before{
		width: calc(60% + 115px);
	}
}

@media screen and (max-width: 768px){
	.page-date{
		position: static;
		margin-bottom: 10px;
	}
	.indent {
	    padding-left: 0;
	    padding-right: 0;
	}
	.page-img,
	.table-wrap,
	.order,
	.page-question,
	.accordeon{
	    margin-left: 0;
	    margin-right: 0;
	}
	.play-btn {
	    width: 100%;
	    height: 100%;
	    background-size: contain;
	}
	.order,
	.page-question{
	    padding: 20px;
	}
	.input-wrap--necessary:before {
	    left: -15px;
	}
	body {
	    font-size: 16px;
	}
	.workarea h1,
	.popup-content h1{
		font-size: 26px;
	}
	.workarea h2,
	.popup-content h2{
		font-size: 24px;
	}
	.workarea h3,
	.popup-content h3{
		font-size: 22px;
	}
	.workarea h4,
	.popup-content h4{
		font-size: 20px;
	}
	.workarea h5{
		font-size: 18px;
	}
	.workarea h6,
	.popup-content h6{
		font-size: 18px;
	}
	.accordeon__link,
	.table-caption,
	.order__title{
	    font-size: 18px;
	}
	// .page-wrap{
	// 	display: block;
	// }
	.workarea td {
	    padding: 9px;
	}
	.workarea input[type="text"], .workarea input[type="email"], .workarea input[type="password"],.workarea input[type="tel"],
	.order-pre,
	.input-wrap__txt .order-pre{
		font-size: 18px;
	}
	.input-wrap__txt input[type="text"],
	.order input[type="text"],
	.order input[type="tel"]{
		padding-left: 70px;
	}
	.order input[type="submit"] {
	    padding: 10px 20px 11px;
	    font-size: 18px;
	}
	.order-wrap__txt{
		padding-right: 20px;
	}
	.page-title {
	    margin-bottom: 30px;
	}
	.accordeon__item:before{
		top: 17px;
		left: 0;
	}
	.bottom {
	    font-size: 12px;
	    flex-wrap:wrap;
	}
	.bottom__info{
		width: 100%;
	}
	.copiright{
		width: 100%;
		margin-bottom: 20px;
	}
	.page-footer:after {
	    content: '';
	    position: absolute;
	    right: 0;
	    top: auto;
	    bottom: 0;
	    width: 0;
	    height: 0;
	    border-top: 0;
	    border-bottom: 44px solid #262725;
	    border-left: 44px solid transparent;
	}
	.page-footer__wrap{
		flex-wrap:wrap;
	}
	.page-footer-menu-contact {
	    width: 100%;
	    padding-top: 30px;
	}
	.top-area,
	.top-offices,
	.top-lang,
	.top__link{
		display: none;
	}
	.js-top__link--toggle{
		display: block;
		&:after {
		    content: "";
		    display: inline-block;
		    width: 8px;
		    height: 5px;
		    background: url(../img/svg/c-arrow.svg) no-repeat;
		    background-size: contain;
		    margin-left: 4px;
		    margin-top: 2px;
		}
	}
	.page-header__nav,
	.page-header-more{
		display: none;
	}
	.page-header {
	    z-index: 8;
	}
	.page-header-search{
		margin-right: 0;
		position: static;
	}
	.page-header-search__link{
		position: absolute;
		top: -32px;
		right: 20px;
	}
	.top-tel{
		margin-right: 70px
	}
	.menu-mobile-link{
		display: inline-block;
	}
	.page-header-search__link.active:before {
	    height: 55px;
	}
	.page-header-search__toggle {
	    padding: 15px 0;
	    top: -2px;
	}
	.page-header-search__wrap input[type="text"],
	.page-header-search__wrap input[type="search"] {
	    padding: 10px 40px;
	}
	.page-header-search__close {
	    right: 29px;
	}
	.page-header-search__wrap input[type="submit"]{
		left: 30px;
	}
	.page-aside {
	    padding-top: 20px;
	    width: 100%;
	    padding-right: 0;
	}
	.layout--grey + .page-footer:after {
	    border-top: 0;
	}
	.index-news__item {
	    padding: 0 24px 0;
	    min-width: 209px;
		display: inline-block;
		vertical-align: top;
	    &:last-child{
			padding-right: 0;
		}
		&:first-child{
			padding-left: 0;
		}
	}
	.index-news__list {
		overflow-x: auto;
		width: 100%;
		max-width: 100%;
		// display: block;
		white-space: nowrap;
	}
	.index-news__top {
	    white-space: normal;
	}
	.all-news {
	    font-size: 12px;
	    top: 0;
	    &:before{
	    	display: none;
	    }
	}
	.index-news__title {
	    align-items: center;
	    margin-bottom: 25px;
	}
	.index-info__wrap{
		flex-wrap:wrap;
	}
	.index-info__col{
		width: 100%;
	}
	.index-info__col.index-info__col--lg{
		padding-right: 0;
		margin-bottom: 16px;
	}
	.index-info__col--lg .index-info__title{
		font-family: 'golosregular';
		text-transform: none;
	}
	.index-info__col--lg .index-info__in{
		padding: 20px;
	}
	.index-info__col--lg:before {
	    border-top: 32px solid #fff;
	    border-right: 32px solid transparent;
	}
	.index-info {
	    padding: 20px 0;
	}
	// .btn-wrap{
	// 	padding-top: 20px;
	// }
	.show-more{
		display: inline-block;
	}
	.index-info__slider {
	    padding: 0;
	}
	.index-info__item{
		display: none;
		margin-bottom: 16px;
		&:first-child{
			display: block;
		}
	}
	.app__wrap {
	    padding: 24px 20px 38px 20px;
	}
	.app__title {
	    font-size: 24px;
	    line-height: 28px;
	    margin-bottom: 55px;
	}
	.app__txt,
	.app__links{
	    padding-left: 50%;
	}
	.app__txt{
		margin-bottom: 20px;
	}
	.app__img {
	    width: calc(50% - 40px);
	    height: 160px;
	}
	.courses__title {
	    font-size: 18px;
	    line-height: 22px;
	    margin-bottom: 20px;
	}
	.money__wrap{
		margin-right: 0;
		flex-wrap:wrap;
	}
	.money__item {
	    padding-right: 0;
	    width: 100%;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.money__top{
		flex-wrap:wrap;
	}
	.money__top .tabs{
		margin-left: 0!important;
	}
	.money__top h2{
		width: 100%;
	}
	.money__top .tabs li {
	    font-size: 18px;
	    line-height: 20px;
	    padding: 8px 14px !important;
	}
	.money__top {
	    margin-bottom: 20px;
	}
	.income{
		flex-wrap:wrap;
	}
	.income__txt{
		width: 100%;
		margin-bottom: 10px;
	}
	.income input[type="text"] {
	    width: 100%;
	    text-align: right;
	}
	.income__input{
		width: 100%;
	}
	.index-offers__info {
	    padding: 8px 16px 70px 16px;
	}
	.index-offers__links {
	    padding: 0 16px;
	}
	.index-offers__links .btn {
	    margin-right: 5px;
	}
	.top-slider__inner {
	    padding: 40px 20px 85px 20px;
	}
	.main-slider-preview{
		display: none;
	}
	.top-slider-preview {
	    width: 100%;
	    top: auto;
	    bottom: 0;
	    height: auto;
	}
	.top-slider-preview__in {
	    clip-path: none;
	    position: static;
	    width: 100%;
	}
	.main-next:before{
		display: none;
	}
	.main-prev {
	    background: url(../img/svg/prev-w.svg) center no-repeat;
	    z-index: 2;
	}
	.top-slider-controls {
	    right: 0;
	    left: 0;
	    width: 100%;
	}
	.pagingInfo {
	    margin-bottom: 0;
	    position: absolute;
	    bottom: 13px;
	    width: 100%;
	    padding: 0 45px;
	}
	.pagingInfo__current {
	    color: #fff;
	}
	.main-next {
	    right: 0;
	    width: 51px;
    	background: url(../img/svg/next-w.svg) center no-repeat;
    	z-index: 2;
    	&:hover,
    	&:active{
    		background: url(../img/svg/next-w.svg) center no-repeat;
    	}
	}
	.main-prev:active,
	.main-prev:hover{
	    background: url(../img/svg/prev-w.svg) center no-repeat;
	}
	.top-slider-line {
    	width: calc(100% - 30px);
	    left: 15px;
	}
	.top-slider__title {
	    max-width: 100%;
	    font-size: 26px;
	    line-height: 30px;
	}
	.top-slider-list__item {
	    margin-right: 10px;
	    font-size: 16px;
	    line-height: 20px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.top-slider__links .btn {
	    margin-right: 15px;
	    padding: 5px 9px;
	    font-size: 14px;
	}
	.top-slider__links .btn-more {
	    padding: 4px 9px;
	    font-size: 14px;
	}
	.bottom-add{
		font-size: 12px;
		line-height: 16px;
	}
	.news__title {
	    font-size: 18px;
	    line-height: 1.2;
    	margin-bottom: 15px;
	}
	.news__txt {
	    font-size: 16px;
	    line-height: 1.2;
	    margin-bottom: 15px;
	}
	.news__item {
	    margin-bottom: 20px;
	    padding: 20px;
	}
	.paging__next {
	    font-size: 16px;
	    line-height: 18px;
	    padding: 5px;
	}
	.paging__item {
	    font-size: 16px;
	    padding: 2px 12px;
	}
	.deposit__item{
		margin-bottom: 20px;
	}
	.deposit__img {
	    width: 300px;
	    min-width: 300px;
	}
	.deposit__info {
	    padding: 15px 320px 30px 15px;
	}
	.docs__title {
	    font-size: 18px;
	    line-height: 1.2;
	}
	.card__item {
	    margin-bottom: 50px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.office-links .btn-more {
	    font-size: 16px;
	    padding: 7px 6px;
	}
	.office-item__info {
	    padding: 15px;
	}
	.office-title {
	    font-size: 24px;
	}
	.other .indent {
	    padding-left: 15px;
	}
	.issue__list{
		flex-wrap:wrap;
		margin-right: 0;
	}
	.issue__item{
		padding-right: 0;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
		&:after{
			display: none;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	.issue__icon {
	    display: flex;
	    justify-content: center;
	}
	.page-slider {
	    padding: 0 50px;
	    .page-img:before {
		    border-top: 40px solid #fff;
		    border-right: 40px solid transparent;
		}
	}
	.page-slider .slick-prev {
	    left: 2px;
	}
	.page-slider .slick-next {
	    right: 2px;
	}
	.page-slider .slick-arrow {
	    width: 40px;
	    height: 70px;
	}
	.statements .accordeon__link {
	    padding: 20px 15px 20px 0;
	}
	.statements .accordeon__item {
	    padding-left: 45px;
	}
	.statements .accordeon__item:before {
	    left: 10px;
	    top: 20px;
	}
	.statements .accordeon__info {
	    font-size: 16px;
	    line-height: 1.3;
	}
	.statements__link {
	    width: 100%;
	    padding-right: 0;
	    font-size: 16px;
	    margin-bottom: 10px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.bottom-download {
	    margin-top: 25px;
	}
	.exchange{
		.map-change-wrap{
			flex-wrap:wrap;
		}
	}
	.map-change-search{
		width: 100%;
		margin-bottom: 20px;
	}
	.exchange-search-inner{
		width: 100%;
		padding-left: 0;
	}
	.exchange .courses__title {
	    margin-bottom: 20px;
	}
	.package--variants .package__item {
	    width: 100%;
	    padding-right: 0;
	}
	.bid--salary .bid-form__item {
	    padding-right: 0;
	    width: 100%;
	}
	.bid--salary .bid-form__list{
		margin-right: 0;
	}
	// .bid--salary{
	// 	margin-bottom: 0;
	// }
	.bid--salary input[type="submit"] {
	    padding: 7px 15px;
	}
	.package-slider-wrap {
	    padding: 30px 0;
	}
	.service{
		margin-bottom: 30px;
		&+.package--variants{
			padding-top: 0;
		}
	}
	.package--variants + .issue {
	    margin-top: 0;
	}
	.money__item .slider-count__add {
	    font-size: 18px;
	}
	.money__item .slider-count input[type="text"] {
	    padding-right: 50px;
	}
	.package-slider {
	    padding: 0 60px 0 15px;
	    .slick-list {
    		overflow: visible;
    	}
	}
	.package-slider .package__item {
	    padding-right: 10px;
	}
	.top-card__wrap {
	    flex-wrap: wrap;
	}
	.top-card__img {
	    width: 100%;
	    min-width: 100%;
	    padding-right: 0;
	}
	.top-card__title {
	    font-size: 30px;
	    margin-bottom: 20px;
	}
	.page-question{
		.input-wrap__txt input[type="text"],
		.input-wrap__txt input[type="tel"] {
		    padding-left: 70px;
		}
	}
	.popup {
	    min-width: 100%;
	    
	    .order-pre, .input-wrap__txt .order-pre {
		    font-size: 20px;
		    top: 11px;
		}
		.workarea input[type="text"],
	    .workarea input[type="email"],
	    .workarea input[type="password"],
	    .workarea input[type="tel"]{
	    	font-size: 20px;
	    }
	    .order input[type="text"], .order input[type="tel"]{
	    	font-size: 20px;
	    	padding-left: 65px;
	    }
	}
	.popup .page-question{
		.order-pre,
		.input-wrap__txt .order-pre {
		    top: 10px;
		}
	}
	.popup .page-question .input-wrap__txt input[type="text"],
	.popup .page-question .input-wrap__txt input[type="tel"] {
	    padding-left: 75px;
	    font-size: 20px;
	}


	.search__wrap{
	    .btn{
			font-size: 18px;
	    }
	}

	.search__link{
	    font-size: 24px;
	    line-height: 1.2;
	}
	.top{
		z-index: 8;
	}
	.index-info__in{
		min-height: 250px;
	}
	.index-links{
		padding: 40px 0;
	}
	.index-info{
		padding: 40px 0;
	}

	.issue__list{
		&.slick-initialized{
			padding-right: 80px;
			display: block;
			.issue__item {
			    margin-bottom: 0;
			    padding: 0 10px;
			    text-align: left;
			}
			.slick-list{
				overflow: visible;
			}
			.issue__icon {
			    justify-content: flex-start;
			}
			.issue__title {
			    font-size: 16px;
			}
		}
	}
	.map .page-print{
		display: none;
	}
	.fancybox-navigation .fancybox-button {
	    width: 42px;
	    height: 68px;
	    top: calc(50% - 34px);
	}
	.page-form {
	    flex-wrap: wrap;
	}
	.page-form__call {
	    margin-right: 0;
	    width: 100%;
	    margin-bottom: 40px;
	}
	.page-form__order{
		width: 100%;
	}
	.page-form:after{
		display: none;
	}
	.default-slider-wrap{
		overflow: hidden;
	}
	.layout--full .content {
	    padding-top: 0;
	}
	.deposit-top-add__item {
	    margin-bottom: 20px;
	    padding-left: 30px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	    &:before{
	    	width: 15px;
	    	left: 0;
	    }
	}
	// .page-anchors{
	//     display: none;
	// }
	.page-anchors__wrap{
		white-space: nowrap;
    	overflow: auto;
    	    padding-bottom: 2px;
	}
	.conditions-wrap {
	    flex-wrap:wrap;
	    font-size: 18px;
	}
	.conditions__info,
	.conditions__list {
	    padding: 20px;
	}
	.conditions__info:before{
		display: none;
	}
	.popup-media{
		flex-wrap:wrap;
	}
	.popup-media__img {
	    height: 300px;
	}
	.popup-media__info{
		width: 100%;
	}
	.popup-media .index-offers__links{
		padding-top: 0;
	}
	.popup-media__view{
		width: 100%;
	}
	.popup-mefia__form{
		padding: 35px;
	}
	.vote-view, .vote-question{
		width: 100%;
	}
	.page-subscription__wrap:before{
		display: none;
	}
	.page-subscription__wrap {
	    padding: 20px;
	    h2{
	    	font-size: 28px;
	    }
	}
	.deposit__item .index-offers-more__item{
		width: 100%;
		margin-bottom: 15px;
	}
	.ssl{
		padding: 0;
    	margin-bottom: 15px;
	}
	.develop{
		margin-top: 0;
	}
}	

@media screen and (max-width: 700px){
	.card__item{
		flex-wrap:wrap;
	}
	.card__info {
	    padding: 20px;
	    width: 100%;
	}
	.bid-select:after{
		display: none;
	}
}

@media screen and (max-width: 650px){
	.index-offers__links .btn {
	    padding: 6px 10px;
	    font-size: 12px;
	}
	.index-offers__links .btn-more {
	    padding: 4px 10px;
	    font-size: 12px;
	}
	.issue__list{
		margin-right: 0;
	}
	.issue__item {
	    padding-right: 0;
	    width: 100%;
	    margin-bottom: 30px;
	}
	.issue__title{
		margin-bottom: 10px;
	}
	.issue__item:after{
		display: none;
	}
	.size-payment__wrap{
		flex-wrap:wrap;
	}
	.size-payment__in{
		width: 100%;
		padding: 20px;
	}
	.size-payment-income {
	    padding: 20px;
	    width: 100%;
	    min-width: 100%;
	}
	.size-payment__wrap:before{
		display: none;
	}
	.deposit-top__info {
	    width: 100%;
	    flex-wrap: wrap;
	}
	.deposit-top-add {
	    width: 100%;
	    min-width: 100%;
	    position: static;
	    height: auto;
	    padding: 0 0 40px;
	    background: transparent;
	}
	.deposit-top__main {
	    padding: 40px 0;
	    width: 100%;
	}
	.deposit-top:before {
	    width: 100%;
	    clip-path: none;
	}
	.deposit-top__txt{
		padding-left: 0;
	}
	.deposit-top__btn{
		margin-left: 0;
	}
	.size-slider__count {
	    font-size: 26px;
	    line-height: 26px;
	}
	.size-slider__time {
	    font-size: 26px;
	    line-height: 30px;
	}
	.size-slider__time:before {
	    margin-top: -3px;
	}
	.size-payment__title {
	    font-size: 24px;
	    line-height: 26px;
	    margin-bottom: 20px;
	}
	.size-payment .slider-count input[type="text"] {
	    font-size: 18px;
	}
	.size-payment .money-term__item {
	    font-size: 18px;
	    line-height: 35px;
	    height: 35px;
	}
	.size-payment-income__title {
	    font-size: 24px;
	    line-height: 1.2;
	    margin-bottom: 20px;
	}
	.size-payment-income__sum {
	    font-size: 24px;
	}
	.size-slider .slick-arrow {
	    width: 60px;
	    height: 45px;
	    border: 2px solid #F0F2F5;
	}
	.deposit-top{
		min-height: auto;
		.container-fluid,
		.deposit-top__info{
			min-height: auto;
		}
	}

}

@media screen and (max-width: 600px){
	.page-wrap{
		display: block;
	}
	.order-wrap{
		flex-wrap:wrap;
	}
	.order-wrap__txt{
		padding-right: 0;
		width: 100%;
		flex-wrap: wrap;
		min-width: 100%;
		margin-bottom: 10px;
	}
	.input-wrap--phone {
	    max-width: 100%;
	}
	.workarea input[type="text"],
	.workarea input[type="email"],
	.workarea input[type="password"],
	.workarea input[type="tel"] {
	    padding: 8px 15px;
	}
	.input-wrap__txt input[type="text"],
	.input-wrap__txt input[type="tel"],
	 .order input[type="text"],.order input[type="tel"]{
	    padding-left: 60px;
	}
	.page-footer__wrap {
	    padding-bottom: 20px;
	}
	.page-footer-menu {
	    flex-wrap: wrap;
	    border-bottom: 1px solid rgba(240,242,245, 0.1);
	}
	.page-footer-menu__item {
	    width: 100%;
	    min-width: 100%;
	    border-top: 1px solid rgba(240,242,245, 0.1);
	    padding-top: 0;
	    &:first-child{
	    	border-top: 0;
	    }
	}

	.page-footer-menu__list{
		display: none;
		padding-bottom: 15px;
	}

	.page-footer-menu-contact{
		padding-top: 0;
	}

	.page-footer-menu-contact__item{
		border-bottom: 1px solid rgba(240,242,245, 0.1);
		margin-bottom: 0;
		padding-bottom: 15px;
		&:last-child{
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
	.page-footer{
		padding: 0;
	}
	.page-footer-menu__title {
	    margin-bottom: 0;
	    padding-top: 15px;
	    padding-bottom: 15px;
	}

	.js-page-footer-menu__title{
		position: relative;
		&:after{
			content: "";
			display: inline-block;
			width: 8px;
			height: 5px;
			background: url(../img/svg/down.svg) no-repeat;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
		&.active{
			&:after{
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
	.order-pre,
	.input-wrap__txt .order-pre{
	    left: 15px;
	}
	.top__nav{
		margin-left: -16px;
	}
	.top__link {
	    padding: 12px 10px;
	}


	.index-news__title{
		justify-content: space-between;
	}
	.index-news__top{
		font-size: 14px;
		line-height: 16px;
	}
	.app__link {
	    max-width: 100%;
	    margin-right: 0;
	    // height: auto;
	    // max-height: 40px;
	    width: 100%;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.app__links{
		flex-wrap:wrap;
	}
	.index-links__icon {
		position: static;
		height: 95px;
		display: flex;
		margin-bottom: 10px;
		justify-content: center;
	    img{
	    	max-width: 100%;
	    	max-height: 100%;
	    }
	}
	.index-links__title {
	    margin-bottom: 10px;
	}
	.index-links__info{
		text-align: center;
	}
	.index-links__inner {
	    padding: 16px;
	}
	.index-links {
	    padding: 30px 0;
	}
	.index-links__title {
	    font-size: 18px;
	    line-height: 20px;
	}
	.index-links__txt {
	    font-size: 14px;
	    line-height: 1.3;
	}
	.layout--index h2{
		font-size: 20px;
	}
	.courses {
	    padding: 30px 0;
	}
	.coverter {
	    flex-wrap:wrap;
	    margin-right: 0;
	}
	.coverter__item {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 5px;
	}
	.coverter__item:first-child:after{
		display: none;
	}
	.coverter__item input[type="text"]{
		padding-right: 92px;
	}
	.courses-table td {
	    font-size: 16px;
	    line-height: 18px;
	        padding: 4px 1px;
	}
	.coverter__item .select-wrap{
		right: 5px;
	}
	.inquiry-link {
	    font-size: 12px;
	    padding-left: 20px;
	}
	.tooltip{
		display: none;
	}
	.inquiry-link:before {
	    width: 16px;
	    height: 12px;
	    background-size: contain;
	}
	.courses-top__item{
		display: block;
		margin-right: 0;
		width: 100%;
		margin-bottom: 5px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.courses-top{
		flex-wrap:wrap;
	}
	.courses__item--covert:after{
		display: none;
	}
	.index-offers {
	    padding: 30px 0;
	}
	.index-offers__links .btn {
	    margin-bottom: 15px;
	    width: 100%;
	    text-align: center;
	    font-size: 16px;
	    padding: 8px 7px;
	    margin-right: 0;
	}
	.index-offers__links .btn-more {
	        padding: 6px 10px;
	    font-size: 16px;
	    width: 100%;
	    text-align: center;
	}
	.index-news__list,
	.index-offers__top{
	    padding-bottom: 10px;
	}
	.top-slider-list__item {
	    margin-right: 0;
	    width: 50%;
	}
	.paging__inner {
	    margin-bottom: 10px;
	}
	.page-links-month .slick-next:before,
	.page-links-month .slick-prev:before{
		width: 50px;
	}
	.select__wrap{
		flex-wrap:wrap;
	}
	.select__col:first-child {
	    padding-right: 0;
	}
	.deposit__item{
		flex-wrap:wrap;
	}
	.deposit__img {
	    display: none;
	}
	.deposit__info {
	    padding: 20px;
	    margin-bottom: 20px;
	}
	.select:before {
	    border-top: 44px solid #fff;
	    border-left: 44px solid transparent;
	}
	.index-offers__slider {
	    padding: 0 40px 0 16px;
	}
	.index-offers__img:before{
		border-top: 44px solid #F0F2F5;
    	border-right: 44px solid transparent;
    	    top: -2px;
	}
	.index-offers__links {
	    flex-wrap: wrap;
	    position: static;
	    padding: 0;
	}
	.index-offers-more{
		margin-bottom: 20px;
	}
	.index-offers__info{
		padding-bottom: 10px;
	}
	.index-offers__img {
	    height: 115px;
	}
	.docs__item {
	    padding-right: 0;
	    width: 100%;
	}
	.card {
	    margin-bottom: 30px;
	    padding-top: 25px;
	}
	.card__img{
		margin-right: 0;
		padding-bottom: 0;
	}
	.card .index-offers-more__item{
		margin-bottom: 10px;
	}
	.office-links .btn-more {
	    padding: 6px 3px;
	    margin-right: 5px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.map-change-wrap {
	    flex-wrap: wrap;
	}
	.map-change-search{
		width: 100%;
		margin-bottom: 20px;
	}
	.map-change-select {
	    margin-left: 0;
	    width: 100%;
	}
	.map-change-search input[type="text"],
	.map-change-search input[type="search"] {
	    padding: 11px 12px 11px 45px;
	}
	.map-change-search:before {
	    left: 15px;
	}
	.map-wrap{
		.map-change {
		    padding-top: 20px;
		}
		.map-change-search {
		    margin-bottom: 10px;
		}
	}
	.map .tabs li{
	    width: 100%;
	}
	.bid-form__list {
	    flex-wrap: wrap;
	    margin-right: 0;
	    margin-bottom: 20px;
	}
	.bid-form__item {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.bid {
	    padding: 15px;
	}
	.bid-next {
	    justify-content: flex-start;
	    flex-wrap: wrap;
	}
	.bid-next__link {
	    margin-left: 0;
	    width: 100%;
	    text-align: center;
	    margin-top: 10px;
	}
	.bid-select__txt {
	    line-height: 1.2;
	    font-size: 14px;
	}
	.bid__add {
	    font-size: 16px;
	    line-height: 1.2;
	    margin-bottom: 20px;
	}
	.exchange .coverter__item .select-wrap {
	    right: 4px;
	}
	.exchange-search-inner{
		flex-wrap:wrap;
	}
	.exchange .map-change-select {
	    width: 100%;
	    min-width: 100%;
	    margin-bottom: 20px;
	    padding-right: 0;
	}
	.exchange .branch-change-select {
	    width: 100%;
	    min-width: 100%;
	    padding-left: 0;
	}
	.exchange-date {
	    margin-right: 0;
	    width: 100%;
	    margin-bottom: 20px;
	}
	.package__list {
	    margin-right: 0;
	}
	.package__item{
		width: 100%;
		padding-right: 0;
	}
	.page-question{
		.input-wrap__txt input[type="text"],
		.input-wrap__txt input[type="tel"] {
		    padding-left: 58px;
		}
	}
	.popup .page-question .input-wrap__txt input[type="text"],
	.popup .page-question .input-wrap__txt input[type="tel"] {
	    padding-left: 66px;
	}

	.search__wrap{
		padding-right: 100px;
	}

	.search__link{
	    font-size: 20px;
	}
	.select__col:last-child {
	    width: 100%;
	    min-width: 100%;
	}
	 
	.size-payment{
		.slider-count__add {
	    	font-size: 18px;
		}
		#slider-count-input_month {
		    padding-right: 90px;
		}
		#slider-count-input_summa {
		    padding-right: 50px;
		}
	}
	.index-offers-card {
	    height: 115px;
	}
	.top-slider__img{
		display: none;
	}
	.top-slider__img-mobile{
		display: block;
	}
	.courses-table th{
		padding: 0 0px 8px;
	}
	.courses-table .down:before{
		top: 3px;
		left: -9px;
	}
	.courses-table .up:before {
	    top: 7px;
	    left: -9px;
	}

	.deposit__img{
		display: none;
	 }

	.deposit__img--mobile{
		width: 100%;
	    min-width: 100%;
	    position: static;
	    height: 267px;
	    clip-path: polygon(44px 0, 100% 0, 100% 100%, 0 100%, 0 44px);
	    display: block;
	}
	.deposit__title {
	    font-size: 28px;
	    line-height: 34px;
	    margin-bottom: 15px;
	}
	.deposit__item .index-offers-more__item {
	    margin-right: 0;
	    width: 100%;
	    margin-bottom: 20px;
	}
	.gallery-count {
	    padding: 10px 15px;
	}
	.default-slider {
	    padding-right: 40px;
	    padding-left: 0;
	    .slick-list {
		    overflow: visible;
		    //margin: 0;
		}
	}
	.default-slider__caption{
		display: none;
	}
	.default-slider__link:before,
	.default-slider__link:after{
		display: none;
	}
	.info-item__img {
	    max-width: 100%;
	}
	.info-item--left .info-item__img {
	    float: none;
	    padding-right: 0;
	}
	.info-item--right .info-item__img {
	    float: none;
	    padding-left: 0;
	}
	.info-item--right .info-item__img:before {
	    left: 0;
	}
	.page-form__title{
		font-size: 28px;
	}
	.callcenter {
	    font-size: 18px;
	}
	.conditions__info {
	    width: 100%;
	    min-width: 100%;
	}
	.conditions__list ul li {
	    padding-left: 25px;
	    margin-bottom: 15px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	    &:before{
	    	    left: -3px;
	    }
	}
	.conditions-wrap p{
		margin-bottom: 20px;
	}
	.popup-media__info {
	    padding: 35px 20px 20px;
	}
	.popup-media{
		.btn{
			width: 100%;
			margin-right: 0;
			text-align: center;
		}
		.btn-more{
			width: 100%;
			text-align: center;
		}
	}
	.popup-mefia__form{
		padding: 20px;
	}
	.popup-mefia__form .btn{
		margin-top: 20px;
	}
	.thank {
	    font-size: 20px;
	}
	.vote-view, .vote-question {
	    padding: 15px 15px 30px;
	}
	.vote-form input[type="checkbox"]:not(:checked) + label, .vote-form input[type="checkbox"]:checked + label, .vote-form input[type="checkbox"]:not(:checked) + label, .vote-form input[type="checkbox"]:checked + label,
	.vote-form input[type="radio"]:not(:checked) + label, .vote-form input[type="radio"]:checked + label{
		font-size: 16px;
	}
	.vote-form .checkbox-item, .vote-form .radio-item {
	    margin-bottom: 20px;
	}
	.vote__item{
		margin-bottom: 35px;
	}
	.page-subscription__form{
		flex-wrap:wrap;
	}
	.page-subscription__input{
		width: 100%;
		margin-bottom: 20px;
	}
	.page-subscription__submit{
		padding-left: 0;
		width: 100%;
	}
	.page-subscription__submit .btn{
		width: 100%;
	}
	.awards__toggle{
		font-size: 18px;
	}
	.awards__item:nth-child(even) .awards__year,
	.awards__item:nth-child(odd) .awards__year{
	    padding-left: 0;
	    margin-bottom: 5px;
	    position: static;
	    &:after{
	    	display: none;
	    }
	}
	.awards__item:nth-child(odd) .awards__wrap,
	.awards__item:nth-child(even) .awards__wrap{
		padding-left: 0;
		&:after{
			display: none;
		}
	}
	.awards__wrap {
	    padding-bottom: 28px;
	}
	.awards__toggle:before {
	    width: 20px;
	    height: 20px;
	    background: url(../img/svg/plus.svg) center no-repeat;
	    background-size: contain;
	        left: -36px;
    	top: 1px;
	}
	.awards__view.active .awards__toggle:before{
		background: url(../img/svg/minus.svg) center no-repeat;
	    background-size: contain;
	}
	.awards__view {
	    padding: 28px 42px 28px 55px;
	}
	.awards {
	    padding-top: 0;
	}
}

@media screen and (max-width: 400px){
	.app__title{
		margin-bottom: 20px;
	}
	.app__img {
	    width: 130px;
	    height: 140px;
	}
	.courses-table th {
	    font-size: 14px;
	}
	.exchange .courses-table td,
	.courses-table td{
	    font-size: 14px;
	    padding-left: 1px;
	    padding-right: 1px;
	}
	// .courses-table .down:before,
	// .courses-table .up:before{
	// 	position: static;
	// 	vertical-align: middle;
	// }
	// .courses-table .down:before{
	// 	margin: -4px 1px 0 0;
	// }
	// .courses-table .up:before{
	// 	margin: 2px 1px 0 0;
	// }
	// .exchange .courses-table td{
	// 	text-align: left;
	// }
	// .exchange .courses-table th {
 //    	text-align: left;
	// }
	.exchange .courses-table .down:before {
	    top: 4px;
	}
	.menu-mobile-link{
		margin-left: 15px;
	}
	.logo {
	    width: 125px;
	    height: 27px;
	    background-size: contain;
	}
}