

/*FONT-FAMILY*/
$default-font: 'golosregular', Arial, sans-serif;
// $default-font: Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 18px;

/*BACKGROUND*/
$default-site-bg: #fff;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #000;

$alt-color: #2C4295;

$hover-color:#0B4DCE;
