

/*FONT-FAMILY*/
$default-font: 'Roboto', Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 16px;

/*BACKGROUND*/
$default-site-bg: #fff;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #000;

$alternate-color: #ff0109;
