



.layout--deposit{
	.content{
		padding-top: 0;
	}
	
	.page-wrap {
	    flex-direction: column;
	    h3{
			font-size: 32px;
			font-family: 'golosbold';
		}
	}
	.page-content{
		// >.container-fluid{
		// 	max-width: 100%;
		// }
	}
}

.conditions{
	padding: 40px 0 10px;
	table {
	    table-layout: inherit;
	}
	td {
	    padding: 15px 16px;
	    text-align: left;
	}
	
}


.other{
	padding: 10px 0 40px;
	h3{
		font-size: 32px;
		font-family: 'golosbold';
	}
	.indent{
		max-width: 1315px;
	    margin: 0 auto;
	    padding-left: 228px;
	}
}


.docs{
	 padding-top: 13px;
	 h3{
	 	margin-bottom: 22px;
	 }
	 &+.bid{
	 	margin-top: 50px;
	 }
}
.docs__list{
	display: flex;
	flex-wrap:wrap;
	// margin-right: -16px;
}
.docs__item{
	padding-right: 16px;
	width: 50%;
	margin-bottom: 16px;
}
.docs__link{
	display: block;
	background: #F0F2F5;
	padding: 16px 35px 16px 60px;
	position: relative;
	height: 100%;
	&:after {
	    content: '';
	    position: absolute;
	    right: 0;
	    top: auto;
	    bottom: 0;
	    width: 0;
	    height: 0;
	    border-top: 0;
	    border-bottom: 28px solid #fff;
	    border-left: 28px solid transparent;
	}
}
.docs__title{
	color: #2C4295;
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 8px;
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: 28px;
		height: 36px;
		background: url(../img/svg/file.svg) no-repeat;
		position: absolute;
		left: -44px;
		top: 0;
	}
	&.m-min{
		font-size: 18px;
		line-height: 1.5;
	}
}
.docs__info{
	font-size: 12px;
	line-height: 1.2;
	color: #343532;
}

.issue{
	    margin-bottom: 30px;
}
.issue__list{
	display: flex;
	flex-wrap:wrap;
	margin-right: -124px;
	padding-top: 26px;
	margin-bottom: 40px;
}
.issue__item{
	padding-right: 124px;
	width: 33.333%;
	position: relative;
	&:after{
		content: "";
		display: inline-block;
		width: 44px;
		height: 23px;
		background: url(../img/svg/arrow-is.svg) no-repeat;
		position: absolute;
		top: 50%;
		margin-top: -3px;
		// left: calc(100% + 10px);
		right: 60px;
	}
	&:last-child{
		&:after{
			display: none;
		}
	}
}
.issue__icon{
	margin-bottom: 16px;
	img{
		display: block;
		max-width: 100%;
	}
}
.issue__title{
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 16px;
	font-family: 'golosbold';
}

.issue__txt{
	font-size: 12px;
	line-height: 1.2;
	.docs__link {
	    display: block;
	    background: transparent;
	    padding: 0px 0px 0px 45px;
	    position: relative;
	    height: auto;
	}
	.docs__title{
		font-size: 16px;
		line-height: 19px;
		&:before{
			top: 4px;
		}
	}
}



.deposit-top{
	position: relative;
	color: #fff;
	min-height: 480px;
	.container-fluid,
	.deposit-top__info{
		min-height: 480px;
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: calc(50% + 240px);
		background: linear-gradient(270deg, #2C4295 0%, #0083CA 100%);
		// opacity: 0.8;
		z-index: 1;
		    clip-path: polygon(90% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 100px);
		    // clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%, 0 100px);
	}
	.deposit-top__btn {
	    margin-left: 0;
	}
}

.deposit-top__img{
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	top: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

.deposit-top__info{
	    // padding: 0 0 0 115px;
	width: calc(50% + 240px);
	position: relative;
	z-index: 2;
	display: flex;
	    align-items: stretch;
}

.deposit-top-add{
	width: 310px;
	min-width: 310px;
	// position: absolute;
	right: 0;
	top: 0;
	// height: 100%;
	    padding: 131px 23px 126px;
	background: rgba(255,255,255,0.1);
}
.deposit-top__main{
	flex:1;
	padding: 110px 10px 40px 0;
	h2{
		font-size: 40px;
		line-height: 1.3;
		    margin-bottom: 20px;
	}
}

.deposit-top-add__item{
	margin-bottom: 40px;
    font-size: 24px;
    line-height: 1.2;
    padding-left: 65px;
    position: relative;
    &:before{
    	content: "";
    	display: inline-block;
    	width: 30px;
		height: 1px;
		background: #fff;
		position: absolute;
		left: 18px;
    	top: 7px;
    }
    &.m-salary{
    	font-size: 18px;
    }
	&:last-child{
		margin-bottom: 0;
	}
}
.deposit-top-add__title{
	font-size: 12px;
    margin-bottom: 5px;
}

.deposit-top__txt{
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 37px;
}
.deposit-top__btn{
	margin-left: 10px;
	font-size: 18px;
	line-height: 22px;
	border:1px solid #fff;
	border-radius: 3px;
	    padding: 14px 23px;
	color: #fff;
	display: inline-block;
	transition: all 0.3s ease;
	&:hover{
		background: #0B4DCE;
		border:1px solid  #0B4DCE;
		color: #fff;
	}
	&:active{
		background: #2C4295;
		border:1px solid  #2C4295;
		color: #fff;
	}
}





.size{
	padding-bottom: 40px;
	h2{
		    margin-bottom: 24px;
	}
}
.size-slider{
    // padding-left: 110px;
    // padding-right: 130px;
    padding-bottom: 35px;
    margin-bottom: 40px;
	.slick-track{
		display: flex;
		min-width: 100%;
	}
	.slick-list{
		// overflow: visible;
		margin: 0 -8px;
		&:before{
			content: "";
			display: block;
			position: absolute;
			height: 100%;
			width: 300%;
			background: #fff;
			right: 100%;
			top: 0;
			z-index: 1;
		}
	}
	.slick-arrow{
		position: absolute;
		width: 91px;
		height: 59px;
		background: #FFFFFF;
		/* Colors/Light blue grey */

		border: 4px solid #F0F2F5;
		box-sizing: border-box;
		border-radius: 4px;
		z-index: 2;
		display: inline-block;
		padding: 0;
		text-indent:-9999em;
	}
	.slick-prev{
		top: -70px;
    	right: 103px;
		background: #FFFFFF url(../img/svg/prev.svg) center no-repeat;
		transition: all 0.3s ease;
		&:hover{
			background: #F0F2F5 url(../img/svg/prev-h.svg) center no-repeat;
		}
		&:active{
			background: #E7EAEF url(../img/svg/prev-h.svg) center no-repeat;
		}
	}
	.slick-next{
		top: -70px;
   		right: 0px;
		background: #FFFFFF url(../img/svg/next.svg) center no-repeat;
		transition: all 0.3s ease;
		&:hover{
			background: #F0F2F5 url(../img/svg/next-h.svg) center no-repeat;
		}
		&:active{
			background: #E7EAEF url(../img/svg/next-h.svg) center no-repeat;
		}
	}
	.slick-dots{
		margin-bottom: 0;
	    position: absolute;
	    bottom: 5px;
	    display: flex;
	    justify-content: flex-end;
    	width: 100%;
	    li{
	    	padding: 0;
	    	width: 10px;
	    	height: 10px;
	    	border: 2px solid #2C4295;
	    	border-radius: 50%;
	    	margin-right: 8px;
	    	cursor: pointer;
	    	transition: all 0.3s ease;
	    	margin-bottom: 0;
	    	&:last-child{
	    		margin-right: 0;
	    	}
	    	&:before,
	    	&:after{
	    		display: none;
	    	}
	    	button{
	    		display: none;
	    	}
	    	&.slick-active{
	    		background: #2C4295;
	    	}
	    	&:hover{
				background: #2C4295;
	    	}
	    }
	}

	&.noslide{
		padding: 0;
		.size-slider__item{

			cursor: default;
		}
	}
}
// *{
// 	overflow: visible!important; 
// }

.size-slider__item{
	padding: 0 8px;
	height: auto;
	cursor: pointer;
	&.slick-current{
		.size-slider__inner{
			background: #2C4295;
		}
		.size-slider__count{
			color: #fff;
		}
		.size-slider__time{
			color: #3DBAFE;
		}
		.size-slider__time{
			&:before{
				background: #3C54AE url(../img/svg/size-t-act.svg) 10px 1px no-repeat;
			}
		}
	}
	&:only-child{
		width: 100%!important;
	}
	&:hover{
		.size-slider__inner{
			background: #E6EAEF;
		}
	}
}

.size-slider__text{
	margin-top: 0!important;
}

.size-slider__inner{
	width: 100%;
	height: 100%;
	background: #F0F2F5;
	border-radius: 4px;
	padding: 32px 32px 5px 32px;
	transition: background 0.3s ease;
}
.size-slider__count{
	font-size: 64px;
	line-height: 77px;
	margin-bottom: 40px;
}

.size-slider__time{
	color: #2C4295;
	text-align: right;
	padding-left: 40px;
	font-size: 40px;
	line-height: 48px;
	position: relative;
	span{
		font-size: 12px;
	}
	&:before{
		content: "";
		display: inline-block;
		width: 36px;
		height: 36px;
		background: #D5D8DB url(../img/svg/size-t.svg) 10px 1px no-repeat;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		    margin-top: -5px;
	}
}


.size-payment{
	margin-top: 40px;
	.slider-count input[type="text"]{
		font-size: 24px;
	}
	.select__item--term {
	    padding-right: 0;
	}
	.money-term__item {
    	    font-size: 24px;
	    line-height: 48px;
	    height: 48px;
	    padding: 0;
	    -webkit-box-flex: 1;
	    -webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    text-align: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	}
	.currency-radio input[type="radio"]:not(:checked) + label,
	.currency-radio input[type="radio"]:checked + label {
	    font-size: 20px;
	    padding: 9px 18px;
	}
	.select__item {
	    margin-bottom: 22px;
	}
	.table-wrap{
		padding: 16px;
		margin-left: 0;
		margin: 0;
	}
	th{
		font-size: 18px;
		font-family: 'golosbold';
		text-align: left;
		padding: 13px 17px;
	}
	td{
		text-align: left;
		padding: 13px 17px;
	}
}

.size-payment__wrap{
	position: relative;
	background: linear-gradient(180deg, #0047B0 0%, #6CC8E8 100%);
	display: flex;
	color: #fff;
	&:before{
		content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 0;
	    height: 0;
	    border-top: 68px solid #fff;
	    border-right: 68px solid transparent;
	}
}


.size-payment-income{
	position: relative;
	padding: 120px 53px 64px 64px;
	width: 497px;
	min-width: 497px;
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: #2C4295;
		opacity: 0.1;
		width: 100%;
		height: 100%;
	}
	.select__title {
	    margin-bottom: 2px;
	}
}

.size-payment__in{
	flex:1;
	padding: 64px 80px;
}
.size-payment__title{
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 24px;
	text-transform: uppercase;
	font-family: 'golosbold';
}

.size-payment-income__title{
	font-size: 30px;
	line-height: 1.3;
	margin-bottom: 32px;
}


.size-payment-income__sum{
	font-size: 32px;
	line-height: 1.3;
	font-family: 'golosbold';
}
.size-payment-income__percent{
	font-size: 24px;
line-height: 29px;
}
.btn-wrap{
	text-align: right;
}
.payment-btn{
	display: inline-block;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	font-size: 18px;
	line-height: 22px;
	color: #343532;
	padding: 13px 23px;
	&:hover{
		background: #0B4DCE;
		border: 1px solid #0B4DCE;
		color: #fff;
	}
	&:active{
		background: #2C4295;
		border: 1px solid #2C4295;
		color: #fff;
	}
}

.copy-result{
	font-size: 16px;
	line-height: 19px;
	color: #2C4295;
	display: inline-block;
	padding-left: 20px;
	position: relative;
	margin-bottom: 32px;
	margin-top: 10px;
	&:before{
		content: "";
		display: inline-block;
		width: 13px;
		height: 15px;
		background: url(../img/svg/copy.svg) no-repeat;
		position: absolute;
		left: 0;
		top: 2px; 
	}
	&:hover{
		color: #0B4DCE;
	}
}

.payment-send{
	display: inline-block;
	background: linear-gradient(270deg, #2C4295 0%, #0083CA 100%);

	box-shadow: 0px 4px 12px rgba(36, 78, 162, 0.6), 0px 2px 4px rgba(25, 45, 120, 0.4);
	border-radius: 4px;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	padding: 13px 23px;
	&:hover{
		background: #0B4DCE;
		color: #fff;
	}
}
.size-payment-income__in{
	position: relative;
	z-index: 1;
}

.bid{
	color:#fff;
	background: linear-gradient(180deg, #2C4295 0%, #0083CA 100%);
	padding: 64px 80px 45px 80px;
	position: relative;
	overflow: hidden;
}

.bid__add{
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 30px;
}
.bid-select{
	display: flex;
	position: relative;
	padding-bottom: 12px;
    margin-bottom: 43px;
	&:after{
		content: "";
		display: block;
		    width: calc(100% - 220px);
		position: absolute;
		left: 110px;
		bottom: 0;
		height: 4px;
		background: #0083CA;
	}
}
.bid-select__item{
	width: 33.333%;
	text-align: center;
	position: relative;
	&.active{
		.bid-select__point{
			background: #fff;
			&:before{
				content: "";

				width: 12px;
				height: 12px;
				background: #2C4295;
				box-shadow: inset 0px 2px 2px rgba(36, 78, 162, 0.23);
				display: inline-block;
				border-radius: 50%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
}
.bid-select__icon{
	margin-bottom: 3px;
	img{
		display: inline-block;
	}
}
.bid-select__txt{
	line-height: 1.5;
	margin-bottom: 8px;
}

.bid-pattern{
	position: absolute;
	right: 0;
	bottom: 0;
}

.bid__in{
	position: relative;
	z-index: 1;
}
.bid-select__point{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #0083CA;
	position: absolute;
	bottom: -23px;
	left: 50%;
	transform:translateX(-50%);
	z-index: 2;
}

.bid-form__list{
	display: flex;
	margin-right: -32px;
	margin-bottom: 48px;
	flex-wrap:wrap;
}
.bid-form__item{
	width: 50%;
	padding-right: 32px;
}
.bid-form__title{
	margin-bottom: 8px;
}

.bid-next__link{
	margin-left: 40px;
	    font-size: 24px;
    line-height: 29px;
    color: #fff;
    background: #2C4295;
    border-radius: 4px;
    -webkit-box-shadow: 0px 16px 48px #0652C3;
    box-shadow: 0px 16px 48px #0652C3;
    border: 0;
    padding: 1px 3px;
    padding: 20px 25px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover{
    	background: #0B4DCE;
	    -webkit-box-shadow: 0px 4px 12px rgba(11, 77, 206, 0.6), 0px 2px 4px rgba(44, 66, 149, 0.4);
	    box-shadow: 0px 4px 12px rgba(11, 77, 206, 0.6), 0px 2px 4px rgba(44, 66, 149, 0.4);
    }
    &:active{
		background: #2C4295;
		-webkit-box-shadow: 0px 2px 4px rgba(44, 66, 149, 0.4);
		box-shadow: 0px 2px 4px rgba(44, 66, 149, 0.4);
    }
}
.bid-next{
	display: flex;
	align-items:center;
	justify-content: flex-end;
}

.slider-count__add{
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 3;
    color: #000;
    font-size: 16px;
 }

 .deposit__img--mobile{
	display: none;
 }



.issue__buttons{
	padding-top: 15px;
 	.btn-more {
	    display: inline-block;
	    color: #2C4295;
	    border-radius: 4px;
	    border: 1px solid #2C4295;
	    padding: 7px 23px;
	    margin-bottom: 31px;
	    transition: all 0.3s ease;
	    font-size: 16px;
	    &:hover{
			background: #2C4295;
			border: 1px solid #2C4295;
			color: #fff;
	    }
	}
	.btn{
		margin-bottom: 16px;
	}
}

.docs-small{
	font-size: 12px;
	line-height: 14px;
	p{
		margin-bottom: 17px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}